.cat {
  text-align: center;
  align-items: center;
  height: 100px;
  width: 70px;
  line-height: 100px;
  background-size: contain;
  background-image: url("images/cat.png");

  position: absolute;
  display: inline-block;
  cursor: pointer;
}

#sidebar {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  border-right: 3px solid black;
  max-width: 300px;
  height: 100vh;
}

body {
  display: flex;
  flex-flow: row;
  background-color: #ffeeb3;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

#cat-div {
  /* display: block; */
  width: 100%;
  height: 100%;
}

#data {
  display: flex;
  flex-wrap: wrap;
  background-color: orange;
  max-width: 200px;

  height: 100%;
  width: 100%;
}
.datum {
  box-sizing: border-box;
  background-color: #b8e7e1;
  /* margin: 5px auto; */
  padding: 0px;
  cursor: pointer;
  display: flex;
  /* margin-top: 6vh; */
  border-bottom: 3px solid black;
  width: 100%;
}

h1 {
  box-sizing: border-box;
  border-bottom: 3px solid black;
  padding: 5px;
  margin: 0px;
  background-color: #b8e7e1;
  text-align: center;
  font-size: 14px;
  max-width: 200px;
}

h2 {
  margin: auto;
  display: inline;
  font-size: 24px;
  float: left;
}
h3 {
  margin: auto;
  display: inline;
  font-size: 20px;
  float: right;
}

body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
