* {
  box-sizing: border-box;
}

.delayed-transition {
  transition: none !important;
}

.theorem {
  font-family: "Bradley Hand", cursive;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  top: 0px;
  left: 0px;
  color: antiquewhite;
  width: 200px;
  font-size: small;
}
.theorem.seen.switch {
  opacity: 1;
}

.equation {
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 50px;
}

.equation.seen {
  opacity: 1;
}

.equation.switch {
  z-index: -1;
  opacity: 0;
}

body {
  background-color: #14c7de;
  color: rgb(235, 235, 235);
  padding: 1em;
  padding-top: 0em;
  transition: all 1s;
}

body.switch {
  background-color: #323043;
}

#container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  max-height: 750px;
  margin: 1em auto;
  padding-top: 0em;
}

header {
  margin: 2em;
}

h2 {
  transition: color 1s;
  color: #fbd914;
}

h2.switch {
  color: #c3c3c3;
}

#banner {
  position: relative;
  height: calc(250px + (1100px - 100vw) / 3);
  max-width: 1100px;
  min-height: 250px;
  background-color: #3498d8;
  color: #333;
  place-items: center;
  display: grid;
  margin: auto;
  padding: 1em;
  transition: background-color 1s;
}

#banner.switch {
  background-color: rgb(51, 54, 71);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1em auto;
  padding: 5px;
}

.group {
  height: 100%;
  margin: 0 0em;
  padding: 0em;
  width: 50%;
  min-width: 225px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section > section {
  min-width: 225px;
  width: 50%;
  margin: 0 0em;
}

a {
  text-decoration: none;
}

ol,
ul {
  text-align: center;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

h3 {
  padding-left: 1.2em;
  color: #5a5a5a;
}

h3.switch {
  color: #c3c3c3;
}

section a {
  line-height: 1.1em;
  display: inline-block;
  padding: 0.5em;
  color: #105114;
  font-weight: 500;
}

section a:hover {
  background-color: orange;
  color: black;
}

section.switch a {
  color: #c3c3c3;
}

section.switch a:hover {
  background-color: #c3c3c3;
  color: #171212;
}

.button {
  position: absolute;
  top: -10px;
  right: 0px;
}

.button:hover {
  cursor: pointer;
}

#numbers {
  opacity: 0;
}

#numbers.switch {
  opacity: 1;
}

#abc {
  opacity: 1;
}

#abc.switch {
  opacity: 0;
}
