:root {
  --hover: false;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  background-color: #3290c5;
  flex-direction: row;
}

#sidebar {
  height: 100vh;
  width: 300px;
  background-color: #d37e29;
  padding: 10px;
}

h1,
h2 {
  text-align: center;
}

#seal {
  position: absolute;
  top: -15%;
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#seal {
  position: relative;
  width: fit-content;
  height: fit-content;
  top: 0px;
  left: 0px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

#bg {
  position: relative;
  width: 818px;
  height: 824.5px;
  left: 0px;
  top: 0px;
}

.seal-main {
  position: absolute;
  left: -347px;
  top: -157px;
}
.inner {
  position: absolute;
}
#mask1 {
  width: 235.6px;
  height: 231px;
  left: 473.64px;
  top: 244.11px;
  transition: transform 0.2s;
}

#mask1:hover {
  transform: scale(1.5);
  z-index: 2;
}

#mask2 {
  width: 209.33px;
  height: 189.71px;
  left: 643.24px;
  top: 222.51px;
  transition: transform 0.2s;
}

#mask2:hover {
  transform: scale(1.5);
  z-index: 2;
}

#mask3 {
  width: 211.74px;
  height: 219.24px;
  left: 813.48px;
  top: 233.73px;
  transition: transform 0.2s;
}

#mask3:hover {
  transform: scale(1.5);
  z-index: 2;
}

#mask4 {
  width: 203.13px;
  height: 204.63px;
  left: 901.12px;
  top: 346.8px;
  transition: transform 0.2s;
}

#mask4:hover {
  transform: scale(1.5);
  z-index: 2;
  cursor: pointer;
}

#mask5 {
  width: 231.61px;
  height: 229.62px;
  left: 417.16px;
  top: 573.34px;
  transition: transform 0.2s;
}

#mask5:hover {
  transform: scale(1.5);
  z-index: 2;
}

#mask6 {
  width: 227.19px;
  height: 243.7px;
  left: 510.9px;
  top: 666.5px;
  transition: transform 0.2s;
}

#mask6:hover {
  transform: scale(1.5);
  z-index: 2;
  cursor: pointer;
}

#mask7 {
  width: 214.69px;
  height: 200.29px;
  left: 700.47px;
  top: 716.05px;
  transition: transform 0.2s;
}

#mask7:hover {
  transform: scale(1.5);
  z-index: 2;
  cursor: pointer;
}

#mask8 {
  width: 237.7px;
  height: 240.42px;
  left: 826.57px;
  top: 640.67px;
  transition: transform 0.2s;
}

#mask8:hover {
  transform: scale(1.5);
  z-index: 2;
}
