body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

#sidebar {
  height: 100vh;
  width: 300px;
  background-color: #d37e29;
  padding: 10px;
}

#seal {
  height: 100vh;
  width: 100%;
  background-color: #3290c5;
  position: relative;
}

h1,
h2 {
  text-align: center;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.temp-link {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  top: 60%;
  left: 45%;
}

.temp-link:hover {
  cursor: pointer;
}
