body {
  background-color: #01abaa;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.centered-container {
  margin: auto;
  width: 50%;
}

h1 {
  text-align: center;
}

ol {
  margin: auto;
  max-width: 500px;
}

li {
  margin-top: 10px;
}
