#map {
  height: 400px;
  width: 500px;
  z-index: 1;
  position: relative;
  opacity: 90%;
}

dialog {
  position: absolute;
  top: 40%;
  z-index: 4;
}
#guess {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  width: 60px;
  border-radius: 10px;
  text-align: center;
  padding: 0.5em;
  z-index: 3;
}
#guess:hover {
  cursor: pointer;
}
#guess.not-chosen:hover {
  cursor: default;
}

/* #map.max {
  height: 600px;
  width: 600px;
} */

#map-div {
  position: absolute;
  display: flex;
  width: fit-content;
  bottom: 0%;
  left: 0%;
  padding: 2em;
}
.fa-solid {
  font-size: 20px;
  position: absolute;
  color: black;
  bottom: 15px;
  right: 5px;
  z-index: 5;
}
.fa-maximize:hover {
  cursor: pointer;
}
.fa-compress:hover {
  cursor: pointer;
}

img {
  position: absolute;
  max-width: 95%;
  max-height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  height: 100vh;
  width: 100%;
  background-color: #3290c5;
}

#back {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: gray;
  text-align: center;
  margin: 10px;
}
